.header {
  background-image: url(../images/header-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: fit-content;
  margin: auto;
}

.header__company-name {
  margin: 0;
  font-family: "Montserrat";
  font-style: bolder;
  font-size: 64px;
  background: transparent;
  text-align: center;
}

.header__subtitle {
  margin: 1rem 0 0 auto;
  font-family: "Montserrat";
  font-style: light;
  font-size: 32px;
}

.header__contacts {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: auto auto 1rem 1rem;
}

.header__contact {
  margin-top: 1rem;
  font-family: "PaytoneOne";
  font-style: normal;
}

.header__contact_info_phone {
  text-decoration: none;
  font-size: 40px;
  color: #080502;
}

.header__contact-icon {
  width: 70px;
  height: 70px;
  margin: 0 16px 0 0;
}

.header__contact_info_email {
  text-decoration: none;
  font-size: 32px;
  color: #080502;
}

@media screen and (max-width: 820px) and (min-width: 622px) {
  .header {
    height: 400px;
  }
  .header__company-name {
    font-size: 51px;
  }
  .header__subtitle {
    font-size: 26px;
    margin: 0.7rem 0 0 auto;
  }
  .header__contact_info_phone {
    font-size: 32px;
  }
  .header__contact-icon {
    width: 56px;
    height: 56px;
  }
  .header__contact_info_email {
    font-size: 27px;
  }
}
@media screen and (max-width: 621px) {
  .header {
    height: 150px;
  }
  .header__company-name {
    font-size: 24px;
  }
  .header__subtitle {
    font-size: 12px;
    margin: 0.3rem 0 0 auto;
  }
  .header__contacts {
    margin: auto auto 0.7rem 0.7rem;
  }

  .header__contact {
    margin-top: 0.3rem;
  }
  .header__contact_info_phone {
    font-size: 14px;
  }
  .header__contact-icon {
    width: 20px;
    height: 20px;
    margin: 0 8px 0 0;
  }
  .header__contact_info_email {
    font-size: 12px;
  }
}
